<html>
   <body>
      <h1>Simple file manager</h1>
      <form action = "http://localhost:5000/upload" method = "POST" 
         enctype = "multipart/form-data">
         <label for="fname">Login:</label>
         <input type = "email" name = "login"/>
         <label for="fname">Password:</label>
         <input type = "password" name = "password"/>
         <input type = "file" name = "file"/>
         <input type = "submit"/>
      </form>

      <h2>Listing directory: {{ fileSystemLevel.path }}</h2>
      <title>Path: {{ fileSystemLevel.path }}</title>
      <h3>Directories</h3>
      <ul>
      {%- for item in fileSystemLevel.dirList %}
         <li><a href="{{ item.link }}">{{ item.name }}</a></li>
      {%- endfor %}
      </ul>
      <h3>Files</h3>
      <ul>
      {%- for item in fileSystemLevel.fileList %}
         <li><a href="{{ item.link }}">{{ item.name }}</a></li>
      {%- endfor %}
      </ul>
   </body>
</html>